{% extends "layout.html" %}
{% block content %}
<div class="col-md-8">
<h1>Event</h1>
{% if events %}
    <ul>
        <p>Nom: {{ events.nom }}</p>
        <p>Tipus: {{ events.tipus }}</p>
        <p>Descripcio: {{ events.descripcio }}</p>
        <a href="/festes/{{events.festa.id}}/"><p>Festa: {{ events.festa.nom}}</p></a>
        <a href="/ubicacions/{{events.ubicacio.id}}/"><p>Ubicació: {{ events.ubicacio.adressa }}</p></a>
        <p>Data: {{ events.data }}</p>
    </ul>
{% else %}
    <p>No existeix aquest event.</p>
{% endif %}
</div>
{% endblock %}
