{% extends "layout.html" %}
{% block content %}
<div class="col-md-8">
<h1>Event</h1>
{% if event %}
    <ul>
        <p>Nom: {{ event.nom }}</p>
        <p>Tipus: {{ event.tipus }}</p>
        <p>Descripcio: {{ event.descripcio }}</p>
        <a href="/festes/{{event.festa.id}}"><p>Festa: {{ event.festa.nom}}</p></a>
        <a href="/ubicacions/{{event.ubicacio.id}}"><p>Ubicació: {{ event.ubicacio.adressa }}</p></a>
        <p>Data: {{ event.data }}</p>
    </ul>
{% else %}
    <p>No existeix aquest event.</p>
{% endif %}
</div>
{% endblock %}