{% extends "layout.html" %}
{% load ifusergroup %}
{% block content %}
<div id="LlistaElems" class="col-md-8">
<h1>Festa</h1>
{% if festes %}
    {% ifusergroup Organitzadors %}
    <form id='formulari' method="PUT" action="delete/">
        <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-remove"> Elimina la festa</span>
        </button>
    </form>
    <div class="new-button">
        <form id='formulari' method="PUT" action="edit/">
            <button class="btn btn-primary" type="submit">
                {% comment %} onclick="showAddForm()">{% endcomment %}
                <span class="glyphicon glyphicon-pencil"> Edita la Festa</span>
            </button>
        </form>
    </div>
    {% endifusergroup %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <p>Nom: {{ festes.nom }}</p>
                <p>Data d'inici: {{ festes.data_inici }}</p>
                <p>Data de finalització: {{ festes.data_fi }}</p>
                <p>Categoria: {{ festes.categoria}}</p>
                <p>Descripció: {{ festes.descripcio }}</p>
                <p>Localitat: {{ festes.localitat }}</p>
                {% if events %}
                <h2>Events</h2>
                    <ul>
                    {% for event in events %}
                        <li><p><a href="/events/{{event.id}}/"><h3>{{event.nom}}</h3></a></p></li>
                    {% endfor %}
                    </ul>
                {% else %}
                <p>No hi ha cap event</p>
                {% endif %}
                <div id="reviews">
                    <div id="communityVotes">
                        <div id="rating" class="ratingBox">{{mitja}}</div>	
                            <div class="starsContainer">
                                <ul onmouseout="javascript:mostrarPuntuacio(mediaInfo.rating)" class="star-rating">
                                    <li style="width: 80px;" id="current-rating" class="current-rating">5</li>
                                    <li><a onmouseover="javascript:mostrarPuntuacio(1)" class="one-star" title="1 estrella de 10" href="javascript:puntuar(0.5)">1</a></li>
                                    <li><a onmouseover="javascript:mostrarPuntuacio(2)" class="two-stars" title="2 estrellas de 10" href="javascript:puntuar(1)">2</a></li>
                                    <li><a onmouseover="javascript:mostrarPuntuacio(3)" class="three-stars" title="3 estrellas de 10" href="javascript:puntuar(1.5)">3</a></li>
                                    <li><a onmouseover="javascript:mostrarPuntuacio(4)" class="four-stars" title="4 estrellas de 10" href="javascript:puntuar(2)">4</a></li>
                                    <li><a onmouseover="javascript:mostrarPuntuacio(5)" class="five-stars" title="5 estrellas de 10" href="javascript:puntuar(2.5)">5</a></li>
                                    <li><a onmouseover="javascript:mostrarPuntuacio(6)" class="six-stars" title="6 estrellas de 10" href="javascript:puntuar(3)">6</a></li>
                                    <li><a onmouseover="javascript:mostrarPuntuacio(7)" class="seven-stars" title="7 estrellas de 10" href="javascript:puntuar(3.5)">7</a></li>
                                    <li><a onmouseover="javascript:mostrarPuntuacio(8)" class="eight-stars" title="8 estrellas de 10" href="javascript:puntuar(4)">8</a></li>
                                    <li><a onmouseover="javascript:mostrarPuntuacio(9)" class="nine-stars" title="9 estrellas de 10" href="javascript:puntuar(4.5)">9</a></li>
                                    <li><a onmouseover="javascript:mostrarPuntuacio(10)" class="ten-stars" title="10 estrellas de 10" href="javascript:puntuar(5)">10</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="createReview" class="hidden">
                        <form id='formulari_review' method="POST" action="/festes/{{festes.id}}/reviews/create/">
                            {% csrf_token %}
                            <table>
                                {{ reviewform }}
                            </table>
                            <input type="submit" value="Guarda">
                        </form>
                    </div>
                    <h3>Reviews</h3>
                    {% if festes.festesreview_set %}
                        <span rel="aggregateRating">
                            <p typeof="AggregateRating">
                                <strong>Global rate: {{mitja}}</strong>
                                <span property="ratingValue">{{festa.averageRating|stringformat:".1f"}}<span>
                    {% endif %}
                    <ul rel="review">
                    {% for review in festes.festesreview_set.all %}
                        <li typeof="Review">
                            <p rel="reviewRating" typeof="Rating">
                                <span property="worstRating" content="{{ RATING_CHOICES.0.0 }}"></span>
                                <span property="ratingValue">{{ review.rating }}</span>
                                star{{ review.rating|pluralize }}
                                {% with RATING_CHOICES|last as best %}
                                    <span property="bestRating"	content="{{ best.0 }}"></span>
                                {% endwith %}
                            <p property="description">{{ review.comment }}</p>
                            <p>Creat per <span property="author">{{ review.user }}</span>
                                on <span property="publishDate">{{ review.date }}</span>
                            </p>
                        </li>
                    {% empty %}
                        <li><p>No hi ha reviews</p></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <form id='formulari' method="POST" action="/festes/{{festes.id}}/assist/">
                    {% csrf_token %}
                    <button class="btn btn-primary asis-button" type="submit">
                        <span class="glyphicon glyphicon-ok"> Participa-hi</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
    <p>No existeix aquesta festa.</p>
</div>
{% endif %}
{% endblock %}
