{% extends "layout.html" %}
{% block content %}
<script>
    function showAddForm() {
        document.getElementById("llistaFestes").setAttribute("class","col-md-6");
    }
</script>
<div id="llistaFestes" class="col-md-8">
<h1>Totes les festes</h1>
    {% comment %}
{% if org %}
    {% endcomment %}
<div class="new-button">
    <button class="btn btn-primary" type="button" onclick="showAddForm()">
        <span class="glyphicon glyphicon-plus"> Nova Festa</span>
    </button>
</div>
    {% comment %}
{% endif %}
    {% endcomment %}
{% if festes %}
    <ul>
        {% for festa in festes %}
	<div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <li><p><a href="/festes/{{festa.id}}/"><h3>{{festa.nom}}</h3></a></p></li>
            </div>
            {%if festa not in assis %}
            <div class="col-md-4">
                <button class="btn btn-primary asis-button">
                    <span class="glyphicon glyphicon-ok"> Participa-hi</span>
                </button>
            </div>
            {% endif %}
	    </div>
        </div>
        </div>
        {% endfor %}
    </ul>
{% else %}
    <p>No hi ha cap festa</p>
{% endif %}
</div>
{% comment %}
<div class="col-md-6">
{% if user %}
    <h1>Festes a les que assisteixes</h1>
    <ul>
    {% for as in assis %}
        <li><p><a href="/festes/{{festa.id}}/"><h3>{{festa.nom}}</h3></a></p></li>
    {% endfor %}
    </ul>
{% endif %}
</div>
{% endcomment %}
{% endblock %}
