{% extends "layout.html" %}
{% load ifusergroup %}
{% block content %}
<div id="LlistaElems" class="col-md-8">
<h1>Totes les festes</h1>
{% ifusergroup Organitzadors %}
<div class="new-button">
    <button class="btn btn-primary" type="button" onclick="showAddForm()">
        <span class="glyphicon glyphicon-plus"> Nova Festa</span>
    </button>
</div>
{% endifusergroup %}
{% if festes %}
    <ul>
        {% for festa in festes %}
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <li><p><a href="/festes/{{festa.id}}/"><h3>{{festa.nom}}</h3></a></p></li>
            </div>
            {%if festa not in assis and user %}
            <div class="col-md-4">
                <form id='formulari' method="POST" action="/festes/{{festa.id}}/assist/">
                    <button class="btn btn-primary asis-button" type="submit">
                        <span class="glyphicon glyphicon-ok"> Participa-hi</span>
                    </button>
                </form>
            </div>
            {% endif %}
            </div>
        </div>
        </div>
        {% endfor %}
    </ul>
{% else %}
    <p>No hi ha cap festa</p>
{% endif %}
</div>
<div id="AddForm" class="col-md-6 hidden">
    <h1>Crea una nova festa</h1>
    <form id='formulari' method="POST" action="">
        {% csrf_token %}
        <table>
            {{newfestaform}}
        </table>
        <input type="submit" value="Crea">
    </form>
</div>
{% endblock %}
