<!doctype html>
<html>
    <head>
    <title>{{ titlehead }}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript">
    </script><script src="js/bootstrap.min.js"></script>
    </head>
<body>
    <h1>{{ pagetitle }}</h1>
    {% if user.username %}
    <p>Benvingut {{ user.username }}!
    Aquí podrà gestionar els seus sobres!</p>
    {% else %}
    <p>Benvingut usuari: Obligatori fer <a href="/login/">sign in</a> per poder accedir al contingut.</p>
    {% endif %}
    <footer>{{ footer}}</footer>
</body>
</html>