{% extends "layout.html" %}
{% block content %}
<div id="LlistaElems" class="col-md-8">
<h1>Ubicacio</h1>
{% if ubicacions %}
    <ul>
        <form id='formulari' method="PUT" action="delete/">
            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-remove"> Elimina la Ubicació</span>
            </button>
        </form>
        <div class="new-button">
            <form id='formulari' method="PUT" action="edit/">
                <button class="btn btn-primary" type="submit">
                {% comment %} onclick="showAddForm()">{% endcomment %}
                    <span class="glyphicon glyphicon-pencil"> Edita la Ubicació</span>
                </button>
            </form>
        </div>
        <p>Adressa: {{ ubicacions.adressa }}</p>
        <p>Poble: {{ ubicacions.poble }}</p>
        <p>Comarca: {{ ubicacions.comarca }}</p>
        <p>Provincia: {{ ubicacions.provincia }}</p>
        <p>Latitud: {{ ubicacions.latitude }}</p>
        <p>Longitud: {{ ubicacions.longitude }}</p>
    </ul>
</div>
    <div id="AddForm" class="col-md-6 hidden">
        {% if user %}
        <h1>Edita la ubicació</h1>
        <form id='formulari' method="POST" action="">
            {% csrf_token %}
            <table>
                {{ newubiform }}
            </table>
            <input type="submit" value="Guarda">
        </form>
        {% endif %}
    </div>
{% else %}
    <p>No existeix la ubicació</p>
    <div class="new-button">
        <button class="btn btn-primary" type="button" onclick="showAddForm()">
            <span class="glyphicon glyphicon-plus"> Nova Ubicació</span>
        </button>
    </div>
</div>
<div id="AddForm" class="col-md-6 hidden">
    {% if user %}
    <h1>Crea una nova ubicació</h1>
    <form id='formulari' action="
            $.ajax({
                type: "PUT",
                url: "",
                data: $('#AddForm').serialize(),
                success: function(data, textStatus, jqXHR) {
                }
            });">
        {% csrf_token %}
        <table>
            {{ newubiform }}
        </table>
        <input type="submit" value="Crea">
    </form>
    {% endif %}
</div>
{% endif %}
{% endblock %}