{% extends "layout.html" %}
{% block content %}
<div id="LlistaElems" class="col-md-8">
<h1>Ubicacio</h1>
{% if ubicacio %}
    <ul>
        <form id='formulari' method="DELETE" action="">
            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-remove"> Elimina la Ubicació</span>
            </button>
        </form>
        <div class="new-button">
            <button class="btn btn-primary" type="button" onclick="showAddForm()">
                <span class="glyphicon glyphicon-pencil"> Edita la Ubicació</span>
            </button>
        </div>
        <p>Adressa: {{ ubicacio.adressa }}</p>
        <p>Poble: {{ ubicacio.poble }}</p>
        <p>Comarca: {{ ubicacio.comarca }}</p>
        <p>Provincia: {{ ubicacio.provincia }}</p>
        <p>Latitud: {{ ubicacio.latitude }}</p>
        <p>Longitud: {{ ubicacio.longitude }}</p>
    </ul>
</div>
    <div id="AddForm" class="col-md-6 hidden">
        {% if user %}
        <h1>Edita la ubicació</h1>
        <form id='formulari' method="POST" action="">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Guarda">
        </form>
        {% endif %}
    </div>
{% else %}
    <p>No existeix la ubicació</p>
    <div class="new-button">
        <button class="btn btn-primary" type="button" onclick="showAddForm()">
            <span class="glyphicon glyphicon-plus"> Nova Ubicació</span>
        </button>
    </div>
</div>
<div id="AddForm" class="col-md-6 hidden">
    {% if user %}
    <h1>Crea una nova ubicació</h1>
    <form id='formulari' method="POST" action="">
        {% csrf_token %}
        <table>
            {{newfestaform}}
        </table>
        <input type="submit" value="Crea">
    </form>
    {% endif %}
</div>
{% endif %}
{% endblock %}