{% extends "layout.html" %}
{% block content %}
    <div class="col-md-6">
        <h1>Asistencies de {{ username }}</h1>
        {% if events %}
        <ul>
        {% for event in events %}
        <li>
        <h2>{{event.nom}}</h2>
        <p><a href="/events/{{event.id}}/">{{ event.tipus}} - {{ event.nom }}</a></p>
        </li>
        {% endfor %}
        </ul>
        {% else %}
        <p>No ha asistit a cap event.</p>
        {% endif %}
    </div>
    <div class="col-md-6">
        <h1>Perfil</h1>
        <ul>
            <li><p>{{ user.username }}</p></li>
            <li><p>{{ user.email }}</p></li>
        <form id='formulari' method="PUT" action="edit/">
            <input type="submit" value="Edita">
        </form>
    </div>
{% endblock %}
