{% extends "layout.html" %}
{% load ifusergroup %}
{% block content %}
    <div class="col-md-6">
        <h1>Asistencies de {{ username }}</h1>
        {% if festes %}
        <ul>
        {% for festa in festes %}
        <li>
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h2>{{festa.nom}}</h2>
                <p><a href="/festes/{{festa.id}}/">{{ festa.categoria}} - {{ festa.data_inici }}</a></p>
            </div>
            <div class="col-md-4">
                <form id='formulari' method="POST" action="/festes/{{festa.id}}/no_assist/">
                    {% csrf_token %}
                    <button class="btn btn-primary asis-button" type="submit">
                        <span class="glyphicon glyphicon-remove"> No Assistire</span>
                    </button>
                </form>
            </div>
        </li>
        {% endfor %}
        </ul>
        {% else %}
        <p>No ha asistit a cap event.</p>
        {% endif %}
    </div>
    <div class="col-md-6">
        <h1>Perfil</h1>
        <ul>
            <li><p>{{ user.username }}</p></li>
            <li><p>{{ user.email }}</p></li>
            {% ifusergroup Organitzadors %}
                <li><p>Ets un Organitzador</p></li>
            {% endifusergroup %}
        <form id='formulari' method="PUT" action="edit/">
            <input type="submit" value="Edita">
        </form>
    </div>
{% endblock %}
